* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book_container {

    gap: 30px;
    padding: 20px;

}

/* Lado esquerdo: imagem */
.book-images {
    width: 300px;
    flex-shrink: 0;
}

.book-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Lado direito: título, subtítulo e descrição */
.book-info {
    gap: 10px;
}

.book-info h2 {
    font-size: 24px;
    padding: 10px;
    border: 2px solid black;

}

.book-info h3 {
    font-size: 18px;
    padding: 8px;
    border: 2px solid black;
}

.book-desc {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    height: 250px; /* ajuste conforme necessário */
    font-size: 20px;
}
