*{
    margin: 0;
    padding: 0;
}
/* Color01 */
/* :root{
    --corPrimaria: #000000;
    --corSecundaria: #222222;
    --corTerciaria: #1DCD9F;
    --corCuaternaria: #169976;
} */
/* Color02 */
/* :root{
    --corPrimaria: #F8F4E1;
    --corSecundaria: #FEBA17;
    --corTerciaria: #74512D;
    --corCuaternaria: #4E1F00;
} */
/* Color03 */
/* :root{
    --corPrimaria: #604652;
    --corSecundaria: #735557;
    --corTerciaria: #97866A;
    --corCuaternaria: #D29F80;
} */
/* Color04 */
/* :root{
    --corPrimaria: #706D54;
    --corSecundaria: #A08963;
    --corTerciaria: #C9B194;
    --corCuaternaria: #DBDBDB;
} */
/* Color05 */
/* :root{
    --corPrimaria: #211C84;
    --corSecundaria: #4D55CC;
    --corTerciaria: #7A73D1;
    --corCuaternaria: #B5A8D5;
} */

/* Color06 */
/* :root{
    --corPrimaria: #211C84;
    --corSecundaria: #4D55CC;
    --corTerciaria: #e3dfc8;
    --corCuaternaria: #808c6c;
} */

/* Color07 */
:root{
    --corPrimaria: #211C84;
    --corSecundaria: #4D55CC;
    --corTerciaria: #fffbe9;
    --corCuaternaria: #ad8b73;
}

body{
    background-color: var(--corTerciaria);
}

/* Catalogo */
.container {
    display: flex;
    width: max-content;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--corPrimaria);
}
.container {
    display: flex;
    width: 400px;
}
.card {
    height: 200px;
    flex: 1;
    transition: .7s;
}
.card:hover{
    flex: 3;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  Card  */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/*Livro descrição*/
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    background: #0056b3;
}
.book-images {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.book-image {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

/* .modal-content span {
Mantém as cores do HTML
    color: inherit; 
}*/

.modal-content {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
/*   */
.nav_bar{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: var(--corCuaternaria);
    border-radius: 0 0px 5px 5px ;
    height: 100px;
    margin: 5px;
    padding: 5px;
    /* align-items: center; */
    /* width: 6em; */
}

.nav_bar h1{
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: xx-large; 
    /* width: 100vh; */
    margin: 10px;
    /* background-color: red; */
}

.nav_bar input{
    border-radius: 5px;
    height: 50px;
    width: 200px;
    text-align: center;
}

.nav_bar input:hover{
    border-radius: black solid 7px;
    background-color: rgb(175, 157, 160);
    height: 52px;
    width: 202px;
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.div_book{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5em;
    background-color: var(--corTerciaria);
    /* margin: 5px; */

}

.div_book div p{
    /* display: flex; */
    text-align: center;
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
    /* background-color: red; */
    /* white-space: normal; */
}

/* .container {
    flex-wrap: nowrap | wrap | wrap-reverse;
  } */

.div_book div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    padding: 7px;
    /* padding-bottom: 3px; */
    /* height: 20px; */
    /* width: 20px; */
}